/* General ----------------------------------- */

/* whole website */
*, *:after, *.before {
  box-sizing: border-box;
}

/* Mimics the attempt to have a single source for the 'Updated on ,,,' label across multiple html/css files.
Inspired by: "Constant text in CSS". https://www.sitepoint.com/community/t/constant-text-in-css/60344
State of mind on August 25, 2021.
*/
span.updated-on:before {
    content:'Nov 16 08:17:52 CET 2021';
    font-size: inherit;
}

/* VARIABLES ----------------------------------- */
:root { /* global for all html */
    --textColor: rgb(51, 51, 51);  /* saw #333 == rgb(51, 51, 51) at ndr.de NDR; SZ rgb(41, 41, 58); BZ rgb(51, 51, 51); NOTE #333 == #333333 (shorthand)*/
    /* w3: #777; It seems light-gray instead of black is the standard for text (newspaper but also in Apple's tech specs). State of mind on August 9, 2021 */
}

/* TYPOGRAPHY ----------------------------------- */

/* EXPERIMENT with Lato type (a nice one). I stopped unfinished because I Will
use that font only or maybe for the logo and will stay with PT Sans for the web. If you want to use it you need to lern more how-to-use it. For example, do I need to add all .ttf files or can I combine them? How to specify in the former case each font in css (weight, etc.) so I can use it in html? There is a simple example here https://www.digitalocean.com/community/tutorials/css-font-face.

State of mind on August 15, 2021.

*/
/* DOES NOT WORK. ONLY the last entry is used ...
@font-face {
      font-family: "Lato";
      src: url("fonts/Lato-Black.ttf") format("truetype"),
      src: url("fonts/Lato-Regular.ttf")  format("truetype"),
      src: url("fonts/Lato-Italic.ttf")  format("truetype");
}

body,h1,h2,h3,h4,h5,h6 {font-family: Lato, sans-serif;}
*/

/* TEST with fonts kept locally downloaded at Google Fonts (https://fonts.google.com/specimen/PT+Sans?query=pt+san)

Note that Lato font family has much more weight choices than PT San.
You may want to consider to use Lato as first type.

Useage:
    font-family:  PT_Sans_Local, PT Sans, Helvetic, ...

State of mind on September 25, 2021.

*/

/* @font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

 */

/* Common weight name mapping
100 	Thin (Hairline)
200 	Extra Light (Ultra Light)
300 	Light
400 	Normal (Regular)
500 	Medium
600 	Semi Bold (Demi Bold)
700 	Bold
800 	Extra Bold (Ultra Bold)
900 	Black (Heavy)
950 	Extra Black (Ultra Black)

Source: MDN Web Docs https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
*/

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap; /* swap: "Gives the font face an extremely small block period and an infinite swap period." MDN Web Docs */
 }

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
 }

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
 }

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Regular.ttf");
 font-weight: 400;   /* regular */
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Italic.ttf");
 font-weight: 400;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-BoldItalic.ttf");
 font-weight: 700;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Bold.ttf");
 font-weight: 700;  /* bold */
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Black.ttf");
 font-weight: 900;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-BlackItalic.ttf");
 font-weight: 900;
 font-style: italic;
 font-display: swap;
}

body, html {
  font-family:  Lato, PT Sans, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* recommended by "Learning Responsive Web Design" (\cite{Peterson:2014}, page 274), if you use em as relative measure (e.g., xyz: 1.5em); if you sue rem you shall set html { font-size: 100% }. Confused? ...me too. Also recommended by w3.css, CSS Fonts. */
  line-height: 1.5;
  letter-spacing: normal; /* -0.022em;  at some Apple websites */

  height: 100%;

  color: rgb(51, 51, 51); /* default supported fallback style */
  color: var(--textColor); /* will not be used by any browser that doesn't support it, and will default to the previous fallback */
}

/* DRIVES ME CRAZY

overflow: scroll; seem to work on Mac but not on iOS (only Firfox seems to work on iOS with this setting)

overflow: auto; does not work on iOS with any browser

I am very tired now.

State of mind on September 4, 2021 21:32:19 CEST

UPDATE  Hurray, it's solved! See comment in overlayOff().

State of mind on September 5, 2021 17:44:26 CEST

*/
/* 'overflow:scroll' OR 'overflow:auto'??????? necessary to prevent that body-scroll-lock feature automatically scrolls to top of page after calling  overlayOn() instead of preserving the current scroll position. State of mind on September 4, 2021. */
/* body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
} */

body {
   width:100%;  /* JE 06Sep21-1954 Needed for body-scroll-lock adjustments made by me. */
}

a {
  color: #0070c9; /* Apple Developer HIG site: link color #0070c9 */
  text-decoration: none; /* no underline */
}

/* The following settings were inspired by Peterson's "Learning Responsive Web Design" section "Typography". */
p {
  font-size: 1em; /* 1.25em;  1em x 1.25 ; Factor of 1/0.8 since w3.css seems to scale fontsize down to 80 %. State of mind on August 9, 2021.
/*   line-height: 1.4;or 1.5 as htnl? */
  max-width: 36em; /* I feel text need to be limited to a certain width. Decreased value from 44em to 36em (December 11, 2019). Note to center the text with margin: auto;
  top and bottom will I set later. All ul, ol elements shall have the same restrictions. State of mind on November 26, 2019. */
  margin: 0.5em auto;


  /* Source: `Silbentrennung — CSS' https://www.stichpunkt.de/html/umbruch.html  */
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}


ul {
    max-width: 36em; /* has the same property as p! */
    margin: 0.5em auto; /* has the same property as p! */
}

ul:before{
    content:attr(aria-label);
    font-size: 1.17em;
    /* font-weight: 300; */
    /* font-variant: small-caps;  */
    margin-left:-2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  Lato, PT Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 10px 0;
}
/* h_(i-1) = h_(i) * 1.125, i = 1..6, h1 = 2em */
/* NOTE font-sizes after w3schools.com ``HTML <h1> to <h6> Tags'' https://www.w3schools.com/tags/tag_hn.asp. State of mind on April 6, 2020 */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.7em; /* changed from 1. em to 1.7 em so it's bigger than project headlines. I know, it's a hack. JE 07Oct21 */
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  /* margin: 1em auto 0 auto; removed constraint (new design) State of mind on March 2, 2021 */
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Navigation ----------------------------------- */
.navigation-title {
    font-variant:normal; /* CHANGE JE 25Sep21-630 small-caps; */
    font-weight: normal;  /* CHANGE JE 25Sep21-630 bold */
    font-size: 1.2em;
}

/* Create a Parallax Effect ----------------------------------- */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* max-width: 1280px; */  /* kind of arbitrary value to size images to this maximal value (e.g. Laptop HDPI screen). State of mind on August 26, 2021. */
  /*margin-left: auto; */ /* center image */
  /*margin-right: auto; */ /* center image */
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../media/images/forest-path-2880x2180px-min.jpg");
  /* background-image: url("../media/images/forest-path-sepia-0-5-min.jpg"); */
  /* background-image: url("../media/images/forest-path-color-to-gray-min.jpg"); */
  /* background-image: url("../media/images/forest-path-black-and-white.png"); */
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../media/images/keyboard-plus-2000x1330px-min.png");
  min-height: 55%; /*500px; 40%;  window through which you see background image takes 40% of viewport height; w3schools value (?):400px */
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../media/images/kuehe-clipout-min.jpg");
  min-height: 55%;
}

/* Third image (Contact) */
/* .bgimg-3 {
  background-image: url("../media/images/background-wall-flowers-2-min.jpg");
  min-height: 55%;
} */

/* Third image (Contact) */
/* .bgimg-4 {
  background-image: url("../media/images/background-wall-flowers-2-min.jpg");
  min-height:  55%;
} */

/* iPhone plus AI Card Player screenshot */
.symbol-smartphone-app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */ /* if you set height, width: 100% seems NOT to work on iOS ... it drives me crazy. JE 13Sep21-1441 */
    /*height: 280px;*/ /* Reasoning: image should fit on iPhone 6 screen in landscape mode (367 px) */

    width: auto;  /* measurements so all first four  symbols appear similar ... */
    height: 270px;  /* ... in size. State of mind on September, 19 2021 */

    /* background-color: bisque; */
    /* background-color: #fafafa; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-find-contact-details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto;*/ /* if you set height, width: 100% seems NOT to work on iOS ... it drives me crazy. JE 13Sep21-1441 */
    /*height: 270px; *//* Reasoning: image should fit on iPhone 6 screen in landscape mode (367 px) */

    width: auto; /* measurements so all first four  symbols appear similar ... */
    height: 270px;  /* ... in size. State of mind on September, 19 2021 */

    /* width: 250px; */
    /* max-width: 100%; */
    /* height: 100%; */  /* use 100% instead of auto, because auto seems not to work on iOS for some reason (my iPhone) JE 13Sep21-1437 */
    /* padding: 18px; */

        /* background-color: bisque; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-model-of-distributed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 250px; */
    /* max-width: 100%; */
    /* height: 100%; */ /* use 100% instead of auto, because auto seems not to work on iOS for some reason (my iPhone) JE 13Sep21-1437 */
    /* padding: 18px; */

    width: auto; /* measurements so all first four  symbols appear similar ... */
    height: 250px;  /* ... in size. Needed to reduce height to 250 px so that it fits in iPhone 5/SE (dimension 320 x 568) State of mind on November, 12 2021 */

    /* background-color: #fafafa; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-test-software {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: auto; /* measurements so all first four  symbols appear similar ... */
    height: 270px;  /* ... in size. State of mind on September, 19 2021 */
    /* background-color: bisque; */
    /* background-color: #fafafa; */

    /* box-shadow: 0px 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-develop-safety-critical {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 270px;

    /* background-color: #fafafa; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 950px;  /* goes along with .projects-section-frame max-width:430px */

  margin-left: auto;  /* allign row ... */
  margin-right: auto; /* ... horizontally */
}

.flex-item {
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%; */
  flex: auto; /* auto works better than 50%, because it initiates a wrap of two items instead of squeezing them into one row ... JE 23Sep21-1602 */

  /* width: 270px; */

  margin-top: auto;   /* allign row item ... */
  margin-bottom: auto;  /* ... verically */

  padding: 18px 18px 32px 18px;   /* padding-bottom: 32px; to separate 'plus button' from any symbol below. JE 21Sep21 */

  /* align-content: center;
  justify-content: center; */
}

.box {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    /* padding-top: 8px; /* Cosmetic. It's a hack to give image space to headline (Smartphone ...). State of mind on September 11, 2021 */

    /* JE 13Sep21 Experiment */
    /* background-image: url("../media/images/tools-smartphone-app.png");
    background-size: contain;
    background-repeat: repeat; */
}

.overlay-content .box {
    justify-content: left;
}

.box-image-container {
    height: 90px;
    margin-top: 8px;
}

.section-headline {
    min-width: 250px; /* makes it readable when scaled down too much (i.e. iPhone 6 Portrait) */
    width: 100%; /* keeps it centered under this "w3' classes around */
    max-width: 450px; /* don't let it grow too much on big screens */
}

/* NOTE: Assume this class is child of p (inherits margin for instance) */
/* .ibsoftsys-slogan {
    font-variant: small-caps;
} */

p.ibsoftsys-slogan {
    text-align: center;
    font-size: 1.17em; /* same as h3! */
    font-style: italic;
}

.ibsoftsys-slogan span {
    letter-spacing: 0.05em;
    /* font-style: normal; */
    white-space: pre;
    color: #777;
}

.projects-section-frame {
    display: table;
    /* padding: 18px; */
    /* border-radius: 18px; */ /* CHANGED to none. JE 25Sep21-1719 */
    margin-right: auto;
    margin-left: auto;

    /* background-color: #f8f8f8for ; */ /* I decided not to use a background because I believe the symbol (image) should stand out by itself. [I think no painter would come to such an idea anyway.] State of mind on September 19, 0221. */

    max-width: 440px;  /* size by which longest headline ('Entwicklung...') fits in one line, and therefore does not screw up the 'alignment' of two items (i.e. 'Entwicklung...' and 'Suche...' goes along with .flex-container max-width:XYZpx. Sorry, I don't know better at this point, September 24, 2021. */
    width:100%;

    /*border-style: solid;*/ /* for test only JE 25Sep21-1715 */
    /*border-width: 1px; */ /* for test only JE 25Sep21-1715 */

    /* background: url("../media/images/corner-bottom-right-min.svg") 100% bottom no-repeat, url("../media/images/corner-top-left-min.svg") 0% top no-repeat; */

    background: url("../media/images/corner-bottom-right-min.svg") 100% bottom no-repeat;
}


.project-headline {
    display: block;

    min-height: 3.5em; /* same height so alignment is independent of headline length (4em: assume 2 lines) */

    /* background-color: rgb(250, 250, 250);  */
    /* equivalent to #fafafa; */ /* changed from white to grey shade; feedback Jenny. JE 07Oct21 */
    /*padding: 8px 8px;*/ /* added because of background color. JE 07Oct21 */

    font-size: 1.3em;
    margin-top: 18px; /* similar to  h1, h2, etc. */
    font-weight: bold;  /* increade from 300 to normal (400) maybe bold?; feedback Jenny. JE 07Oct21 */
    /* font-variant: small-caps; */
    text-align: center;

    /* This corner-top-left was a try as an alternative to light-grey background of project headline. Idecided on the latter. State of mind on October 7, 2021. */
    /* background-image: url("../media/images/corner-top-left.svg");
    background-position-x: 0%;
    background-position-y: top;
    background-repeat: no-repeat; */
}

.project-headline-overlay {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    margin: 10px 0; /* same as h1, h2, etc. */
    /* font-weight: 300; */
    /* font-variant: small-caps; */
    /* text-align: center; */
}

.hamburgerIcon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-image: url(../media/images/hamburgerPlain.svg);
  background-size: cover;
}

.symbol-plus {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 12px;

    -webkit-mask: url("../media/images/symbol-plus.svg");
    mask: url("../media/images/symbol-plus.svg");
    /* background-color: red; */ /* color defined in HTML code */

    -webkit-mask-size: cover;
    mask-size: cover;

    cursor: pointer;

    /* background-image: url(../media/images/symbol-plus.svg);
    background-size: cover; */
}

.footer-container {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-content {
    /*display: table;*/ /* flex; */

    /* flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between; */
    /* place-content: space-around; */

    /* width: fit-content; */ /* 'fit-content' instead of 100 % because then browser does NOT fill space with white space and therefore content is always centered. State of mind on October 2, 2021. */
    /* max-width: 825px; */ /* prevents that text get too spread out (value same as of flex-container) based on four items today on October 1, 2021. UPDATE 'max-width' not necessary anymore with width: 'fit-content' in place. State of mind on October 2, 2021.  */
    margin-left: auto;
    margin-right: auto;

    font-size: 0.8em;

    padding: 12px;
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;
    /* padding-right: 8px; */ /* padding: gap inside of border. UPDATE I inserted a white space to allow ...*/
    margin-left: 0.3em; /* value determined until it looked good to me. JE 05Oct21 */
    margin-right: 0.5em; /* value determined until it looked good to me. JE 05Oct21 */ /*margin: gap outside of border. In em to allow space grow/shrink if user changes font-size settings. State of mind on October 2, 2021. */

    border-color: rgb(51, 51, 51); /* default supported fallback style */
    border-color: var(--textColor);
}

.section-intro {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 32px;
    padding-right: 32px;

    margin-left: auto;
    margin-right: auto;
}

.image-plus-text {
    max-width: 36em;  /* should be the same as p { max-width } */

    margin-right: auto;
    margin-left: auto;
}
/*
#identity-card:hover {
    cursor: pointer;
} */

#identity-card {
    position: relative;
    float: right;
    width: 280px; /* 250px gives the text (assume font-size = 14px) some space to the right and left */
    height: 284px;

    overflow: hidden;

    margin-top: 0.4em; /* allighs approximately with text */
    margin-left: 24px; /* keep space to text (if floating to the right) */
    margin-right: 0;
    margin-bottom: 16px;

    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);

    text-align: center;
    border-radius: 4px;

    cursor: pointer;
}

.identity-card-text {
  position: relative;
  top: 210px;
  height: 60px;
  width: inherit;
  /* padding: 8px 0px 8px 0px; */
  background-color: rgb(250, 250, 250);
  margin-top: 16px;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

#identity-card img {
    width: inherit;
    height: auto;
    border-radius: inherit;

    /* ---Experimental October 30, 2021 ---
    Inspired by "Using CSS3 Filters to Enhance your Transitions" http://tangledindesign.com/using-css3-filters-to-enhance-your-transitions/ */
    /* -webkit-filter:sepia(0); */
    /* -webkit-filter:saturate(0); */
    /* -webkit-filter:blur(0); */
    /* transform:translate(30px, -30px) scale(0.5); */
    /* transform:scale(0.6); */
    /* filter:grayscale(1) blur(1px); */
    /* transition: 0.5s;  */
    /* animate all properties */
    /* transition-timing-function: ease;  */
    /* ease is the default */

    /* ---Experimental October 31, 2021 ---
    Inspired by "Cross fading images" http://css3.bradshawenterprises.com/cfimg/
    */
    position: absolute;
    left: 0;
}


#identity-card img.snoopy {
    transition: all 0.6s ease-in-out;
}

#identity-card  img.me {
    border-radius: 50%;
    top: 8px;
    left: -8px;

    -webkit-transform: translate(42%, -42%) scale(0.15);
    -moz-transform: translate(42%, -42%) scale(0.15);
    -o-transform: translate(42%, -42%) scale(0.15);
    transform: translate(42%, -42%) scale(0.15);

    /* opacity: 0.7; */
    -webkit-filter: grayscale(1.0) blur(4px);
    -moz-filter: grayscale(1.0) blur(4px);
    -o-filter: grayscale(1.0) blur(4px);
    filter: grayscale(1.0) blur(4px);

    transition: all 0.6s ease-in-out;
}

/* ----------------------------------------------------------------------- */
/* ------------------------     EXPERIMENTAL      ------------------------ */
/* ----------------------------------------------------------------------- */
/* The following classes (flip-box-*) are used for flip technique adopted from w3schools.com. State of mind on October 29, 2021.
*/
/*
.flip-box {
  float: right;
  width: 270px;
  height: 320px;

  background-color: transparent;

  border: 1px solid #00f1f1;
  perspective: 1000px;
}


.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
} */


/* REMOVED JE 25Sep21-643
.headline {
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
} */

/* -------- SIDE NAVIGATION -----------------------------

The side navigation class is adopted from w3schools
with some modifications (https://www.w3schools.com/howto/howto_js_sidenav.asp). In particular the feature that
let the sidenav disappear when user taps/clicks on the
background (not the side navigation panel) is developed
by me.

State of mind on Septmeber 23, 2021.

*/
.sidenav {
  height: 16.18em;  /* width (= 160px) * 1.618 (golden ratio) */
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51, 0.95); /* big navbar's color is rgb(51,51,51); */
  overflow-x: hidden;
  transition: 0.4s;
  /* -webkit-transition: 0.4s; */
  padding-top: 2.5em;
}

.sidenav a {
  padding: 8px 8px 8px 24px;
  /* text-decoration: none; */
  /* font-size: 1.2em; */
  /*color: rgb(214,214,214);*/ /* approximately color of navigation items (NOT selected) at apple.com (text color of selected text is white (255,255,255)). State of mind on August 12, 2021 */
  display: block;
  /* transition: 0.4s; */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 8px; /* it matches approximately hamburger icon */
  padding: 8px 10px 0px 0px; /* values experimental determined so 'cross' icon matches approximately 'hamburger' icon */
}

/* Default values at the beginning. Used for 'Read more / Less' */
#more-1 {display: none;}
#more-2 {display: none;}
#more-3 {display: none;}
#more-4 {display: none;}
#more-5 {display: none;}

div.absolute {
  position: absolute;
  bottom: -250px;
  left: -80px;

  border: 3px solid #73AD21;
}

span.small-caps {
    font-variant-caps: small-caps;
}

.text-color-not-selected {
    color: rgb(240,240,240); /* rgb(214,214,214) is  approximately color of navigation items (NOT selected) at apple.com (text color of selected text is white (255,255,255)). State of mind on August 12, 2021 HOWEVER, it has low contrast which might be an issue for some users (lighthouse review). State of mind on September 23, 2021  */
}
.background-color-darkgrey {
  background-color: rgb(51,51,51); /* approximately color of navigation background at apple.com. State of mind on August 12, 2021 */
}

.navbar-icon {
    width: auto;
    height: 1.2em;
}


.linkedin-icon {
    width: auto;
    height: 1.1em;
    margin-bottom: 0.2em; /* adjust image position, I don't know better. JE 02Oct21  */
}

#logo-navbar {
    height: 1.5em;
}

#logo-plus {
    min-width: 300px; /* makes it readable when scaled down too much (i.e. iPhone 6 Portrait) */
    width: 100%; /* keeps it centered under this "w3' classes around */
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* with hover: 0 4px 8px 0 rgba(0,0,0,0.2); */
  width: 100%;
}

.noScriptingWarning {
  position: fixed;
  bottom: 32px;
  right: 16px;
  left: 16px;
  z-index: 1;
  text-align: center;
  padding: 8px;
  border: 1px solid #ff0000;
  background-color: rgb(250, 250, 250); /* equivalent to #fafafa; */
}

.noScriptingWarning span {
  /* color: red; */
  font-weight: normal;
  text-align: center;
}
/*
.overlay-button-show:before{
    font-family: 'FontAwesome';
    display: inline-block;
    cursor: pointer;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.5em;
    content: "\f055";
}
*/
.overlay-button-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-top-16 {
    margin-top: 16px;
}

.button-minus:before {
    font-family: 'FontAwesome';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.5em;
    content: "\f056"; /* fa-minus-circle */
}

.overlay {
    position: fixed;
    display: none;
    width: 100%; /* was 100%; // JE 26Sep21-2100 animation TEST */
    height: 100%; /* was 100%; // JE 26Sep21-2100 animation TEST */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.7); /* imitates Apple modal appearance https://www.apple.com/accessibility/ */

    z-index: 11000;
    cursor: auto;

    /* transition: width 0.4s, height 0.4s; */ /* // JE 26Sep21-2100 animation TEST */
    /* opacity: 0; */
    /* transition: opacity 0.4s ease 0.5s; /* // JE 26Sep21-2100 animation TEST */ */
    /* -webkit-transition: opacity 0.7s; */
}
.overlay-container {
    height: 100%;
    /* padding: 42px 0; moved to overlay-canvas-container  */ /* let's the modal at the top and bottom space when scrolling begins (top) and ends (bottom). looks nice and imitates the behavior of Apple modal appearance https://www.apple.com/accessibility/ */

    /* overflow-y: scroll; */ /* JE 07Sep21-0655 TEST */
    /*-webkit-overflow-scrolling: touch; */ /* JE 07Sep21-0655 TEST */ /* Live saver! This make scrolling fast for content in modal view. I needed this trick after I used body-scroll-block to prevent scrolling of background (behind overlay-canvas (body).
    State of mind on August 31, 2021. */
}


.overlay-canvas-container {
    position: relative;

    width: 44em; /* Reasoning: p max-width is set to 36em, thus I added e.g. 4em to the right and left. This allows p to expand to 36em while there is still some white space left on the right and left to look good. */ /* 980px at Apple modal appearance https://www.apple.com/accessibility/ */

    height:100%; /* animated? was 100%; // JE 26Sep21-2024 TEST */ /* THIS (height:100%;) is needed to make overflow-y:scroll working, otherwise there is no scroll necessary. */ /* JE 07Sep21-0655 TEST */
    /*transition: height 0.5s;*/ /* animated?  // JE 26Sep21-2024 TEST */

    padding: 52px 0; /* let's the modal at the top and bottom space when scrolling begins (top) and ends (bottom). looks nice and imitates the behavior of Apple modal appearance https://www.apple.com/accessibility/ */

    max-width: 66.6667%;
    margin: 0 auto;

    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.overlay-canvas {
    display: flex;  /* TEST 11SEP21-2019 with flex archtecture of overlay-canvas*/
    flex-direction: row;  /* TEST 11SEP21-2019 with flex archtecture of overlay-canvas*/

    position: relative;
    /*width: 100%;*/  /* was 980px moved to .overlay-canvas-padding */
    /* max-width: 66.6667%; */ /* was 980px moved to .overlay-canvas-padding */

    margin: 0 auto; /* center element (if it is a block with widt: xx) */

    border-radius: 18px; /* Apple modal appearance https://www.apple.com/accessibility/ */


    font-size: inherit;
    background-color: white;
    color: inherit;

    /* height:100%; scrolling: set max-height and overflow-y: auto */

    /* DISABLED because overlay-container takes over. 03sep21 220:42 */
    /*overflow-y: scroll; */

    cursor: auto;

    /*height: 100%;*/ /* THIS (height:100%;) is needed to make overflow-y:scroll working, otherwise there is no scroll necessary. */ /* JE 07Sep21-0655 TEST */

    /* DISABLED because overlay-container takes over. 03sep21 220:42 */
    /*-webkit-overflow-scrolling: touch; */  /* Live saver! This make scrolling fast for content in modal view. I needed this trick after I used body-scroll-block to prevent scrolling of background (behind overlay-canvas (body).
    State of mind on August 31, 2021. */
}

.overlay-content {
    /* padding-top: 12px; */
    /* padding-left: 52px; */ /* left/right 52px so 'close button' does not interfere with text and text get centered */
    /* padding-right: 52px; *//* dto. */
    padding-bottom: 24px;

     /* TEST 11SEP21-2019 with flex archtecture of overlay-canvas */
     padding-top: 18px;
     padding-left: 0;
     padding-right: 32px;
}

.sticky-top {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* padding: 18px 12px 18px 18px; */
    padding: 12px;
    align-self: flex-start; /* makes flex item 'sticky' (http://stackoverflow.com/questions/44446671/ddg#44446672) */ /* TEST 11SEP21-2019 */
}

/* This class replaces the previous classes .overlay-button-close and .overlay-button-close:before. JE 24Sep21-1655 */
/* Idea with 'mask' based on https://css-tricks.com/change-color-of-svg-on-hover/ */
.overlay-button-close-icon {
    width: 24px;
    height: 24px;
    /* background-color: transparent; */

    -webkit-mask: url("../media/images/crossPlain.svg");
    mask: url("../media/images/crossPlain.svg");

    background-color: black;
    -webkit-mask-size: cover;

    mask-size: cover;

    cursor: pointer;
}

/* I took all initial properties and values of the following classes from Apple's website, because I love how they solved the problem ("Accessibility Apple" https://www.apple.com/accessibility/).

State of mind on September 1, 2021.

UPDATE I removed the source code of the 'try' today. Read my note in ~/Freelancer/Projects/SoftSys/softsys-journal.pages on September 9, 2021.

    State of mind on September 9, 2021.

 */


/* ----------------------------------------------------------------------- */
/* --------------------     MEDIA QUERIES (LAST)      -------------------- */
/* ----------------------------------------------------------------------- */

/* ------- IMPORTANT QUOTE ----------
"Safari Responsive Design Mode CSS media query 'device' not applied"

device-width, along with its siblings, min-device-width and max-device width have been deprecated and removed from the standards.

You should just use width, min-width, and max-width, which are calculated based on the size of the viewport. On most mobile devices, width, min-width, and max-width end up yielding the same net result as device-width, min-device-width, and max-device-width.

Here's information on the deprecation of device-width. https://developer.mozilla.org/en-US/docs/Web/CSS/@media/device-width

Here's the new spec, which no longer includes device-width. https://www.w3.org/TR/mediaqueries-4/#width

--Philip Jones

Source: https://stackoverflow.com/questions/38220485/safari-responsive-design-mode-css-media-query-device-not-applied#39401858
*/

/* Give overlay/modal full screen size (100%). I adapted this rule from
Apple's website, because I love how they solved the problem ("Accessibility Apple" https://www.apple.com/accessibility/). */
@media only screen and (max-width: 734px) {
    .overlay-container {
        padding: 0; /* no space when modal covers entire screen */
    }
    .overlay-canvas {
        max-width: 100%; /* JE 05Sep21-1634 TEST ONLY to see background and test close feature. production code: 100%; */
        min-height: 100%; /* 'min-' neccessary so that overflow area user scrolls to is covered, too (try only 'height' and you'll see what I mean on iPhone 6, for instance)*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        border-radius: 0;
    }
    .overlay-canvas-container {
        max-width: 100%; /* JE 05Sep21-1634 TEST ONLY to see background and test close feature. production code: 100%; */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        border-radius: 0;
    }

}


/* Turn off parallax scrolling for tablets and phones
Source: https://www.w3schools.com/howto/tryhow_css_parallax_demo.htm
State of mind on August 25, 2021.
*/
@media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
  /* Second image (Portfolio) */
  .bgimg-2,  .bgimg-3, .bgimg-4 {
    min-height: 350px; /* window through which you see background image takes up at least yyy px of viewport height; experimental determined so image looks good at limited heights AND parallax feature cannot made available. State of mind on August 25, 2021. */
  }

}


/* The rules of responsive web typography. 2018. Section "Coding for responsive typography" https://www.creativebloq.com/how-to/the-rules-of-responsive-web-typography */
@media only screen and (min-width: 900px) {  /* 38em approximately 600px with em = 16px */
 html {
   font-size: 112.5%; /* Number 112.5%. Reasoning? */
 }
}

@media only screen and (max-width: 500px) {  /* value determined by experiment to avoid words only on the right of the image */
    #identity-card  {
        float: none;
        margin-left: auto;  /* center image (no text around) */
        margin-right: auto;
    }
}
