/* General ----------------------------------- */

/* whole website */
*, *:after, *.before {
  box-sizing: border-box;
}

/* Mimics the attempt to have a single source for the 'Updated on ,,,' label across multiple html/css files.
Inspired by: "Constant text in CSS". https://www.sitepoint.com/community/t/constant-text-in-css/60344
State of mind on August 25, 2021.
*/
span.updated-on:before {
    content:'Date Is Not Used Anymore'; /* JE 19May2022 */
    font-size: inherit;
    white-space: nowrap; /* do not break date & time */
    /* color: #777; */
}

/* VARIABLES ----------------------------------- */
:root { /* global for all html */
    --textColor: rgb(51, 50, 47); /* as tagesschau.de seen on March 13, 2022. BEFORE rgb(51, 51, 51);   saw #333 == rgb(51, 51, 51) at ndr.de NDR; SZ rgb(41, 41, 58); BZ rgb(51, 51, 51); NOTE #333 == #333333 (shorthand)*/
    /* w3: #777; It seems light-gray instead of black is the standard for text (newspaper but also in Apple's tech specs). State of mind on August 9, 2021 */

    /* Support of light color scheme only, at least for npw. JE23Oct2022 */
    color-scheme: light; /* "Indicates that the element can be rendered using the operating system light color scheme." (MDN Web Docs) */
}

/* TYPOGRAPHY ----------------------------------- */

/* EXPERIMENT with Lato type (a nice one). I stopped unfinished because I Will
use that font only or maybe for the logo and will stay with PT Sans for the web. If you want to use it you need to lern more how-to-use it. For example, do I need to add all .ttf files or can I combine them? How to specify in the former case each font in css (weight, etc.) so I can use it in html? There is a simple example here https://www.digitalocean.com/community/tutorials/css-font-face.

State of mind on August 15, 2021.

*/
/* DOES NOT WORK. ONLY the last entry is used ...
@font-face {
      font-family: "Lato";
      src: url("fonts/Lato-Black.ttf") format("truetype"),
      src: url("fonts/Lato-Regular.ttf")  format("truetype"),
      src: url("fonts/Lato-Italic.ttf")  format("truetype");
}

body,h1,h2,h3,h4,h5,h6 {font-family: Lato, sans-serif;}
*/

/* TEST with fonts kept locally downloaded at Google Fonts (https://fonts.google.com/specimen/PT+Sans?query=pt+san)

Note that Lato font family has much more weight choices than PT San.
You may want to consider to use Lato as first type.

Useage:
    font-family:  PT_Sans_Local, PT Sans, Helvetic, ...

State of mind on September 25, 2021.

*/

/* @font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: PT_Sans_Local;
  src: url("../PT_Sans/PTSans-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

 */

/* Common weight name mapping
100 	Thin (Hairline)
200 	Extra Light (Ultra Light)
300 	Light
400 	Normal (Regular)
500 	Medium
600 	Semi Bold (Demi Bold)
700 	Bold
800 	Extra Bold (Ultra Bold)
900 	Black (Heavy)
950 	Extra Black (Ultra Black)

Source: MDN Web Docs https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
*/

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: swap; /* swap: "Gives the font face an extremely small block period and an infinite swap period." MDN Web Docs */
 }

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
 }

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
 }

 @font-face {
  font-family: Lato;
  src: url("../Lato/Lato-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
 }

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Regular.ttf");
 font-weight: 400;   /* regular */
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Italic.ttf");
 font-weight: 400;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-BoldItalic.ttf");
 font-weight: 700;
 font-style: italic;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Bold.ttf");
 font-weight: 700;  /* bold */
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-Black.ttf");
 font-weight: 900;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: Lato;
 src: url("../Lato/Lato-BlackItalic.ttf");
 font-weight: 900;
 font-style: italic;
 font-display: swap;
}

body, html,
h1, h2, h3, h4, h5, h6 {
 font-family:  "Helvetica Neue", "PT Sans", Helvetica,  Arial,  sans-serif; /* REMOVED Lato because I think it is not as readable as PT Sans or Helvetica Neue. State of mind on February 1, 2022. Made 'Helvetica Neue' the first choice because it looks very nice and it supports different weights better than 'PT Sans'. BTW, Apple  used it as system font on iOS and macOS and replaced it by a 'similarly looking San Francisco in iOS 9 and OS X El Capitan'. IBM used it as 'its corporate typeface until 2017' (Source Wikipedia.) simalar State of mind on April 3, 2022. */
}

body, html {
  font-size: 100%; /* recommended by "Learning Responsive Web Design" (\cite{Peterson:2014}, page 274), if you use em as relative measure (e.g., xyz: 1.5em); if you sue rem you shall set html { font-size: 100% }. Confused? ...me too. Also recommended by w3.css, CSS Fonts. */

  line-height: 1.5;

  letter-spacing: 0.022em; /* NOTE: I feel the font is more readable with a littler bit of letter-spacing instead of the default (normal). I got the value of 0.022em by experiment and looking at Apple websites which use letter-spacing a lot. I leave this topic by now until I know better. JE18Oct2022  */

  height: 100%;

  color: rgb(51, 50, 47); /* default supported fallback style */
  color: var(--textColor); /* will not be used by any browser that doesn't support it, and will default to the previous fallback */
}

body {
    min-width: 320px; /* seen at apple.com webpages ... cannot be too wrong :) */
}
/* DRIVES ME CRAZY

overflow: scroll; seem to work on Mac but not on iOS (only Firfox seems to work on iOS with this setting)

overflow: auto; does not work on iOS with any browser

I am very tired now.

State of mind on September 4, 2021 21:32:19 CEST

UPDATE  Hurray, it's solved! See comment in overlayOff().

State of mind on September 5, 2021 17:44:26 CEST

*/
/* 'overflow:scroll' OR 'overflow:auto'??????? necessary to prevent that body-scroll-lock feature automatically scrolls to top of page after calling  overlayOn() instead of preserving the current scroll position. State of mind on September 4, 2021. */
/* body {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
} */




body, .logo-ibsoftsys { /* Added logo-ibsoftsys so I can set image property (logo) relative to viewport size in percentage.  State of mind on November 2021. */
  width: 100%;  /* JE 06Sep21-1954 Needed for body-scroll-lock adjustments made by me. */

  height: 100%; /* added height because of reason above (19Nov21) */
}

a {
  color: #0070c9; /* Apple Developer HIG site: link color #0070c9 */
  text-decoration: none; /* no underline */
}

/* The following settings were inspired by Peterson's "Learning Responsive Web Design" section "Typography". */
p {
  font-size: 1em; /* 1.25em;  1em x 1.25 ; Factor of 1/0.8 since w3.css seems to scale fontsize down to 80 %. State of mind on August 9, 2021.
/*   line-height: 1.4;or 1.5 as htnl? */
  max-width: 36em; /* I feel text need to be limited to a certain width. Decreased value from 44em to 36em (December 11, 2019). Note to center the text with margin: auto;
  top and bottom will I set later. All ul, ol elements shall have the same restrictions. State of mind on November 26, 2019. */
  margin: 0.5em auto;


  /* Source: `Silbentrennung — CSS' https://www.stichpunkt.de/html/umbruch.html  */
   /* -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; */
}


/* Override some of the standards for h1 to h6 (similar what w3schools does). State of mind on February 27, 2022. */
h1, h2, h3, h4, h5, h6 {
    /* Note w3.css changes the font-family that is why I set it above to the sames as body and html  */
    text-align: center;
    font-weight: 400;
    margin: 0.625em 0;
}
/* h_(i-1) = h_(i) * 1.125, i = 1..6, h1 = 2em */
/* NOTE font-sizes after w3schools.com ``HTML <h1> to <h6> Tags'' https://www.w3schools.com/tags/tag_hn.asp. State of mind on April 6, 2020 */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em; /* changed from 1.5em to 1.7 em so it's bigger than project headlines. I know, it's a hack. JE 07Oct21 UPDATE changed back to initial 1.5em. JE 25Feb22 */
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}


.w3-wide {
    letter-spacing: 0.625em;
}

.w3-hover-opacity {
    cursor: pointer;
}

/* Introduced space (0.3em by experiment) between list items, distance between list sign (e.g., '>') and left border of text block, and distance between list sign and first character of text of list. It is all standard in LaTeX, I believe. JE 05Dec2022 */
li {
    margin-bottom: 0.3em; /* 0.3em looks good (not too much but visible) in connection with a line-height of 1.5em and margin-bottom of 0.5em of paragraph. JE06Oct202 */
}

/* Reduceded space between FIRST item in list but leave default space at the end of the list (block). I feel it separates the list better from the rest of the text. JE05Dec2022 */
ul {
    margin-block-start: 0.5em; /* default: 1em */
    margin-block-end: 1em; /* default: 1em */
    padding-inline-start: 2.5em; /* default: 40px (in pixels, does not look good if user changes font sizes. !). The value 3em seems to be similar to what the LaTeX font uses as the default. JE 25Oct2020 */
}

/* Makes lists <ul>... centered as the paragraphs assuming max-width as objects of <p>! */
.list-container {
    max-width: 36em;
    margin-left: auto;
    margin-right: auto;
}

.list-container li {
     /* none; '-'; '>' */
    list-style-type: '-';
    padding-left: 0.57em; /* distance between <lI> sign (e.g., '>') and first letter/character of text. */
}

/* Source: https://stackoverflow.com/questions/25106161/html-css-how-to-use-another-font-for-list-item-bullets */
.list-container ul {
    /* font-weight: 300; */ /* Here you can choose a different weight ... */
    /* color: #3d5280;
    font-weight: bold; */
}

.list-container li span {
    /* font-weight: 400; */ /* ... than here, if required. */
    /* font-weight: normal;
    color: var(--textColor); */
}



.list-headline {
    font-size: 1.3em;    /* same as <h3> */
    margin: 0.625em 0;   /* same as <h3> */
}

/* Navigation ----------------------------------- */
.navigation-title {
    font-variant:normal; /* CHANGE JE 25Sep21-630 small-caps; */
    font-weight: normal;  /* CHANGE JE 25Sep21-630 bold */
    font-size: 1.1em; /* CHANGE JE 04Jun2022 before 1.2em */
}

/* Create a Parallax Effect ----------------------------------- */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* max-width: 1280px; */  /* kind of arbitrary value to size images to this maximal value (e.g. Laptop HDPI screen). State of mind on August 26, 2021. */
  /*margin-left: auto; */ /* center image */
  /*margin-right: auto; */ /* center image */

}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../media/images/forest-path-2880x2180px-min.jpg");
  /* background-image: url("../media/images/forest-path-sepia-0-5-min.jpg"); */
  /* background-image: url("../media/images/forest-path-color-to-gray-min.jpg"); */
  /* background-image: url("../media/images/forest-path-black-and-white.png"); */
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../media/images/keyboard-plus-2000x1330px-min.jpg");
  min-height: 35%; /* CHANGE from 45% to 35% because image feels too dominant to me. 01Jul2022. 500px; 40%;  window through which you see background image takes 40% of viewport height; w3schools value (?):400px */
}

/* Third image (Contact) */
.bgimg-3 {
  /* background-image: url("../media/images/kuehe-clipout-min.jpg"); */
  background-image: url("../media/images/view-on-st-george-min.jpg");

  min-height: 35%; /* CHANGE from 45% to 35% because image feels too dominant to me. 01Jul2022. */
}

/* Third image (Contact) */
/* .bgimg-3 {
  background-image: url("../media/images/background-wall-flowers-2-min.jpg");
  min-height: 55%;
} */

/* Third image (Contact) */
/* .bgimg-4 {
  background-image: url("../media/images/background-wall-flowers-2-min.jpg");
  min-height:  55%;
} */

.symbol-size {
    width: auto;  /* measurements of all symbols so they appear similar ... */
    height: 230px;  /* ... in size. State of mind on February 14, 2022 */
}

/* iPhone plus AI Card Player screenshot */
.symbol-smartphone-app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto; */ /* if you set height, width: 100% seems NOT to work on iOS ... it drives me crazy. JE 13Sep21-1441 */
    /*height: 280px;*/ /* Reasoning: image should fit on iPhone 6 screen in landscape mode (367 px) */

    /* background-color: bisque; */
    /* background-color: #fafafa; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-find-contact-details {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: auto;*/ /* if you set height, width: 100% seems NOT to work on iOS ... it drives me crazy. JE 13Sep21-1441 */
    /*height: 270px; *//* Reasoning: image should fit on iPhone 6 screen in landscape mode (367 px) */

    /* width: 250px; */
    /* max-width: 100%; */
    /* height: 100%; */  /* use 100% instead of auto, because auto seems not to work on iOS for some reason (my iPhone) JE 13Sep21-1437 */
    /* padding: 18px; */

        /* background-color: bisque; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-model-of-distributed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 250px; */
    /* max-width: 100%; */
    /* height: 100%; */ /* use 100% instead of auto, because auto seems not to work on iOS for some reason (my iPhone) JE 13Sep21-1437 */
    /* padding: 18px; */

    /*width: auto;*/ /* measurements so all first four  symbols appear similar ... */
    /*height: 240px; */ /* ... in size. Needed to reduce height to 250 px so that it fits in iPhone 5/SE (dimension 320 x 568) State of mind on November, 12 2021
    UPDATE All heights are now 240px. State of mind on January 27, 2022 */

    /* background-color: #fafafa; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-test-software {
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* box-shadow: 0px 8px 16px 0 rgb(0 0 0 / 20%); */
}

.symbol-develop-safety-critical {
    display: block;
    margin-left: auto;
    margin-right: auto;

    /* background-color: #fafafa; */

    /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* before new design: 90% JE 03AUg2022 */
  max-width: 45em; /* before new design: 700px; JE 03AUg2022; reduced from 950px. JE 12Feb2022 */

  margin-left: auto;  /* allign row ... */
  margin-right: auto; /* ... horizontally */
}


/* EXPERIMENT I think it looks not bad if the projects especially the images have a little different background than the text. After another try by which the background spread over all project symbols, I decided to use another approach inspired by Apple Accessibility webpage (again). Each project has its own 'card' which includes grey background, rounded corners etc. I think by this projects look very different to the rest of the text, which they should in my opinion. State of mind on February 16, 2022.*/

.flex-item-new {
  /* display: flex;
  flex-direction: column;
  flex-basis: 100%; */

  flex: auto; /* auto works better than 50%, because it initiates a wrap of two items instead of squeezing them into one row ... JE 23Sep21-1602 */

  max-width: 22em; /* change from 280px for new design JE 04Aug2022 */

  margin-left: auto;   /* allign row item ... */
  margin-right: auto;  /* ... horizontally. JE 12Feb2022 */

  padding: 0.75em 1.125em 0.75em 1.125em;   /* padding-bottom: 32px; to separate 'plus button' from any symbol below. JE 21Sep21 UPDATE Changed top and bottom to 12px because I think the items were too much apart. State of mind on January 12, 2022. */

  /* SPECIAL to make project pop out a little */
  margin-top: 1.5em;
  background-color: rgb(254, 254, 254);
  /* pure white may look better because the shadow makes the content pop out from the page. However I leave it for the new design by non-white. // JE 02AUg2022  UPDATE I think with the thin border AND a very light gray background things look better. JE 06Aug2022. */

  border-radius: 8px;
  /* I use a smaller border radius for the new design because it looks better with the new "> Details" (before: plus sign). // JE 03AUg2022 */

  /* box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%); */
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); */ /* shadow replaced by a thin line (border) in light gray color. JE 06Aug2022. */

  border-style: solid; /* Instead of a shodow a thin line (border) in light gray color. JE 06Aug2022. */
  border-width: 2px;
  border-color: rgb(240, 240, 240);

}


.flex-item-me { /* adjustments for me-image that is overwriting property values of a project card */
    float: left;

    max-width: 210px; /* limits the white space around image on narrow screens (no text on the right). JE 02Mar22 */

    margin: 1em;

    /* border-radius: 12px; */
}

.flex-item-me p {
    font-size: 16px;
    text-align: center;
    /* font-variant: small-caps; */
    /* color: #161924;  */
    /* color: rgb(76, 76, 76); */ /* HSV-model: (0, 0, 20) looks better with normal font, maybe because text <p> has color of approximately HSV-model: (0, 0, 30). State of mind on May 16, 2022.  */
}

.flex-item-me img {
    height:250px;
    width: auto;
    padding: 8px;
    /* -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    filter: grayscale(1); */

}


.about-headline {
    /*  NOTE: text-align, font size, margin top and bottom as <h1>. */
    font-size: 2em;
    text-align: center;
    max-width: fit-content;
    margin-top: 0.625em;
    margin-bottom: 0.625em;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    line-height: 1.2em;
}

.about-headline .first-principle {
    font-size: 61.8%;
    margin: 0.625em 0;
    line-height: 1.2em;
    color: #3d5280; /* Color #3d5280; picked from T-shirt. JE23Oct2022  */
}

.about-container {
  max-width: fit-content; /*42em;*/ /* same width as <p> JE 24Oct2022 */

  margin-left: auto;
  margin-right: auto;
}


.me-box {
    float: left;

    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 1.2em;
}

/* Clear floats after the about-container [That is what people write and it works.] */
.clear-floats-after-me:after {
  content: "";
  display: table;
  clear: both;
}


.me-box img {
    width: 10em; /* IMPORTANT: Image width = width me-box. It gets increased on smaller screens when width of me-box is at 100%. */

    margin-left: auto;
    margin-right: auto;
}

.me-box h4 {
    font-size: 0.9em; /* IMPORTANT It gets increased on smaller screens when width of me-box is at 100%. */

    font-weight: 400;
}

.box {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    /* padding-top: 8px; /* Cosmetic. It's a hack to give image space to headline (Smartphone ...). State of mind on September 11, 2021 */

    /* JE 13Sep21 Experiment */
    /* background-image: url("../media/images/tools-smartphone-app.png");
    background-size: contain;
    background-repeat: repeat; */
}


.bottom-box .box {
    justify-content: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.overlay-content .box {
    justify-content: left;
}

.box-image-container {
    height: 110px;
    margin: 12px; /* new design with text  JE 02Aug2022 */
    /* margin-top: 18px; */  /* previous design with NO text JE 02Aug2022 */
    /* margin-left: 18px;   */  /* previous design with NO text JE 02Aug2022 */
}

.box-image-container-overlay {
    margin-right: auto;
    margin-left: auto;
}

.section-headline {
    min-width: 250px; /* makes it readable when scaled down too much (i.e. iPhone 6 Portrait) */
    width: 100%; /* keeps it centered under this "w3' classes around */
    max-width: 450px; /* don't let it grow too much on big screens */
}

/* NOTE: Assume this class is child of p (inherits margin for instance) */
/* .ibsoftsys-slogan {
    font-variant: small-caps;
} */


.headline-style {
    color: black; /*#161924;*/ /*color: #666;*/ /* contrast ratio of approximately 5.74 to white background measured with Chrome developer tool. Recommended is 4.5: 1 to all standard body text but for larger text you can go  go down to 3:1. (https://web.dev/color-and-contrast-accessibility/?utm_source=devtools)) */
    font-weight: normal; /* I think 300 is to thin and 500 too thick with the current color (#949494) and font-family (Helvetica Neue). State of mind on April 4, 2022.  */
}



.ibsoftsys-slogan span {
    letter-spacing: 0.05em;
    /* font-style: normal; */
    white-space: pre;
    color: #777;
}

.projects-section-frame {
    display: table;
    /* padding: 18px; */
    /* border-radius: 18px; */ /* CHANGED to none. JE 25Sep21-1719 */
    margin-right: auto;
    margin-left: auto;

    /* background-color: #f8f8f8for ; */ /* I decided not to use a background because I believe the symbol (image) should stand out by itself. [I think no painter would come to such an idea anyway.] State of mind on September 19, 0221. */

    max-width: 440px;  /* size by which longest headline ('Entwicklung...') fits in one line, and therefore does not screw up the 'alignment' of two items (i.e. 'Entwicklung...' and 'Suche...' goes along with .flex-container max-width:XYZpx. Sorry, I don't know better at this point, September 24, 2021. */
    width:100%;

    /*border-style: solid;*/ /* for test only JE 25Sep21-1715 */
    /*border-width: 1px; */ /* for test only JE 25Sep21-1715 */

    /* background: url("../media/images/corner-bottom-right-min.svg") 100% bottom no-repeat, url("../media/images/corner-top-left-min.svg") 0% top no-repeat; */

    /* background: url("../media/images/corner-bottom-right-min.svg") 100% bottom no-repeat; */
}

.project-title {
    /* color: #555; */
    margin-bottom: 0.2em;
    /* font-weight: 500; */
}

.project-subtitle {
    color: #555; /* CHANGE from #666 to #555 that gives better contrast. JE23Oct2022 */
    margin-top: 0.2em;
}

.project-tools  {
    /* color: black; */
    display: block; /* NEEDED because class is used for <span> object. */

    font-size: 1.17em;  /* Same size as h3. */

    margin: 0.625em auto; /* Same margin at top and bottom as h2, h3, etc., for example. */
}

.linked-style {
    font-style: normal;
    /* font-size: 1.1em; */
    color: #0070c9; /* MAYBE CHANGING #0070c9 to #550000 (high contrast on white) or something else because I wanted a different color than blue since I am using a shade of blue in the subtitle of the main title. JE23Oct2022 */
    cursor: pointer;
}


.project-tools-border {
    border-style: solid;
    border-width: thin;
    border-radius: 0.25em;
    border-color: #ccc;
    padding: 0.375em;
    margin-right: 0.375em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.project-tools-container {
    line-height: 2.7em;
    margin-bottom: 1.125em;
}

.OLD-project-headline {
    display: block;

    min-height: 74px; /* in px because dimensions of container are in px, too // JE 17Feb2022; same height so alignment is independent of headline length (4em: assume 2 lines) */

    /* background-color: rgb(250, 250, 250);  */
    /* equivalent to #fafafa; */ /* changed from white to grey shade; feedback Jenny. JE 07Oct21 */
    /*padding: 8px 8px;*/ /* added because of background color. JE 07Oct21 */

    font-size: 24px; /* in px because dimensions of container are in px, too // JE 17Feb2022 */

    /* font-weight: 300; */

    color: black; /* #161924;*/ /* color: #666; */

    margin-top: 18px; /* similar to  h1, h2, etc. */
    /* font-variant: small-caps; */
    /*font-weight: bold;*/  /* Increased from 300 to normal (400) maybe bold?; feedback Jenny. JE 07Oct21 */
    /* font-variant: small-caps; */
    text-align: center;

    /* This corner-top-left was a try as an alternative to light-grey background of project headline. Idecided on the latter. State of mind on October 7, 2021. */
    /* background-image: url("../media/images/corner-top-left.svg");
    background-position-x: 0%;
    background-position-y: top;
    background-repeat: no-repeat; */
}

.hamburgerIcon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-image: url(../media/images/hamburgerPlain.svg);
  background-size: cover;
}

.symbol-plus {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 12px;

    -webkit-mask: url("../media/images/symbol-plus.svg");
    mask: url("../media/images/symbol-plus.svg");
    /* background-color: red; */ /* color defined in HTML code */

    -webkit-mask-size: cover;
    mask-size: cover;

    cursor: pointer;

    /* background-image: url(../media/images/symbol-plus.svg);
    background-size: cover; */
}

.footer-container {
    background-color: rgb(250, 250, 250);

    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}

.footer-content {
    /*display: table;*/ /* flex; */

    /* flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between; */
    /* place-content: space-around; */

    /* width: fit-content; */ /* 'fit-content' instead of 100 % because then browser does NOT fill space with white space and therefore content is always centered. State of mind on October 2, 2021. */
    /* max-width: 825px; */ /* prevents that text get too spread out (value same as of flex-container) based on four items today on October 1, 2021. UPDATE 'max-width' not necessary anymore with width: 'fit-content' in place. State of mind on October 2, 2021.  */
    margin-left: auto;
    margin-right: auto;

    max-width: fit-content;

    font-size: 11px; /* before 07Sep2022: font-size of 0.8em that content fits iPhone 5s (width 320 px) nicely. JE 17May2022 */

    text-align: center;

    padding: 12px;
}

.border-right {
    border-right-style: solid;
    border-right-width: 1px;

    margin-left: 0.3em; /* value determined until it looked good to me at font size of 11px fixed. JE 26Oct2022 */
    margin-right: 0.3em; /* value determined until it looked good to me  at font size of 11px fixed. JE 26Oct2022 */

    border-color: #666;
}

.section-intro {
    padding-top: 0;
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;

    margin-left: auto;
    margin-right: auto;
}

.image-plus-text {
    max-width: 1280px;  /* So that image sticks out of the text if there is space to the left ony wide screens, but not too far away from the text (maybe 18px)  (assume (1) image floats to to the left relativ to text; (2) text is limited to max-width: 36em). It looks better as image is embedded in the text statically. I saw this kind of style on other webpages, where the image of the person is out of the text on the left side. State of mind on February 14, 2022. */

    margin-right: auto;
    margin-left: auto;
}
/*
#identity-card:hover {
    cursor: pointer;
} */

/* ----------------------------------------------------------------------- */
/* ------------------------     EXPERIMENTAL      ------------------------ */
/* ----------------------------------------------------------------------- */
.center { /* Original Source: w3schools.com */
    /* display: flex; */
   /* justify-content: center; */
   /* align-items: center; */
   height: 250px;
}

.section-anchor { /* Inspired by 'offsetting an html anchor to adjust for fixed header' http://stackoverflow.com/questions/10732690/ddg#13184714 */
    display: block;
    position: relative;
    top: -3.1em;
    visibility: hidden;
}

/* The following classes (flip-box-*) are used for flip technique adopted from w3schools.com. State of mind on October 29, 2021.
*/
/*
.flip-box {
  float: right;
  width: 270px;
  height: 320px;

  background-color: transparent;

  border: 1px solid #00f1f1;
  perspective: 1000px;
}


.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
} */


/* REMOVED JE 25Sep21-643
.headline {
    font-size: 1.5em;
    font-variant: small-caps;
    font-weight: bold;
} */

/* -------- SIDE NAVIGATION -----------------------------

The side navigation class is adopted from w3schools
with some modifications (https://www.w3schools.com/howto/howto_js_sidenav.asp). In particular the feature that
let the sidenav disappear when user taps/clicks on the
background (not the side navigation panel) is developed
by me.

State of mind on Septmeber 23, 2021.

*/
.sidenav {
  height: 15em; /* CHANGE it was with language item 16.18em */
  width: 0; /* width e.g. 11em is set by openNav() dynamically */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(51, 51, 51); /* big navbar's color is rgb(51,51,51); */
  overflow-x: hidden;
  transition: 0.5s;
  /* -webkit-transition: 0.4s; */
  padding-top: 2.5em;

  border-radius: 2px;

}

.sidenav a {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 0;
  /* text-decoration: none; */
  /* font-size: 1.2em; */
  /*color: rgb(214,214,214);*/ /* approximately color of navigation items (NOT selected) at apple.com (text color of selected text is white (255,255,255)). State of mind on August 12, 2021 */
  display: block;
  /* transition: 0.4s; */
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 8px; /* it matches approximately hamburger icon */
  padding: 8px 10px 0px 0px; /* values experimental determined so 'cross' icon matches approximately 'hamburger' icon */
}

/* Default values at the beginning. Used for 'Read more / Less' */
#more-1 {display: none;}
#more-2 {display: none;}
#more-3 {display: none;}
#more-4 {display: none;}
#more-5 {display: none;}

div.absolute {
  position: absolute;
  bottom: -250px;
  left: -80px;

  border: 3px solid #73AD21;
}

span.small-caps {
    font-variant-caps: small-caps;
}

.text-color-not-selected {
    color: rgb(240,240,240); /* rgb(214,214,214) is  approximately color of navigation items (NOT selected) at apple.com (text color of selected text is white (255,255,255)). State of mind on August 12, 2021 HOWEVER, it has low contrast which might be an issue for some users (lighthouse review). State of mind on September 23, 2021  */
}
.background-color-darkgrey {
  background-color: rgb(51,51,51); /* approximately color of navigation background at apple.com. State of mind on August 12, 2021 */
}

.navbar-icon {
    width: auto;
    height: 1.5em; /* The value was 1.2em, now I've changed it to 1.5em, same as in the logo navigation bar before it was removed. JE JE09Oct2022 */
}


.linkedin-icon {
    width: auto;
    height: 1.1em;
    margin-bottom: 0.2em; /* adjust image position, I don't know better. JE 02Oct21  */
}

/* logo-navbar necessary???? navbar-icon class specifies it already?! JE09Oct2022*/
/* #logo-navbar {
    height: 1.5em;
} */

#logo-plus {
    min-width: 250px; /* makes it readable when scaled down too much (i.e. iPhone 6 Portrait) */
    max-width: 400px;
    width: 100%; /* keeps it centered under this "w3' classes around */
/*
    position: absolute;
    width: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
*/
}


.logo-ibsoftsys img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 66%; /* Value of 55%-66% seems to look on most screens good with the restrictions of max-width and amx-height in place. JE 19Oct2022 */
    max-width: 400px; /* That image does not get too big on huge screens. */
    max-height: 66%; /* That image fits screen on narrow screens (e.g. landscape orientation) without hiding behind navigation bar. */


    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* with hover: 0 4px 8px 0 rgba(0,0,0,0.2); */
  width: 100%;
}

.noScriptingWarning {
  position: fixed;
  bottom: 32px;
  right: 16px;
  left: 16px;
  z-index: 1;
  text-align: center;
  padding: 8px;
  border: 1px solid #ff0000;
  background-color: rgb(250, 250, 250); /* equivalent to #fafafa; */
}

.noScriptingWarning span {
  /* color: red; */
  font-weight: normal;
  text-align: center;
}
/*
.overlay-button-show:before{
    font-family: 'FontAwesome';
    display: inline-block;
    cursor: pointer;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.5em;
    content: "\f055";
}
*/
.overlay-button-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-top-16 {
    margin-top: 16px;
}

.button-minus:before {
    font-family: 'FontAwesome';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 2.5em;
    content: "\f056"; /* fa-minus-circle */
}

.overlay {
    position: fixed;
    display: none;
    width: 100%; /* was 100%; // JE 26Sep21-2100 animation TEST */
    height: 100%; /* was 100%; // JE 26Sep21-2100 animation TEST */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.7); /* imitates Apple modal appearance https://www.apple.com/accessibility/ */

    z-index: 11000;
    cursor: auto;

    /* transition: width 0.4s, height 0.4s; */ /* // JE 26Sep21-2100 animation TEST */
    /* opacity: 0; */
    /* transition: opacity 0.4s ease 0.5s; /* // JE 26Sep21-2100 animation TEST */
    /* -webkit-transition: opacity 0.7s; */
}
.overlay-container {
    height: 100%;
    /* padding: 42px 0; moved to overlay-canvas-container  */ /* let's the modal at the top and bottom space when scrolling begins (top) and ends (bottom). looks nice and imitates the behavior of Apple modal appearance https://www.apple.com/accessibility/ */

    /* overflow-y: scroll; */ /* JE 07Sep21-0655 TEST */
    /*-webkit-overflow-scrolling: touch; */ /* JE 07Sep21-0655 TEST */ /* Live saver! This make scrolling fast for content in modal view. I needed this trick after I used body-scroll-block to prevent scrolling of background (behind overlay-canvas (body).
    State of mind on August 31, 2021. */
}


.overlay-canvas-container {
    position: relative;

    width: 42em; /* Reasoning: p max-width is set to 36em, thus I added e.g. 4em to the right and left. This allows p to expand to 36em while there is still some white space left on the right and left to look good. UPDATE I changed the size to 42em. Along with changing the max width to 100% (see below), it looks better for ALL screen sizes. JE 24Oct2022. */ /* 980px at Apple modal appearance https://www.apple.com/accessibility/ */

    height:100%; /* animated? was 100%; // JE 26Sep21-2024 TEST */ /* THIS (height:100%;) is needed to make overflow-y:scroll working, otherwise there is no scroll necessary. */ /* JE 07Sep21-0655 TEST */
    /*transition: height 0.5s;*/ /* animated?  // JE 26Sep21-2024 TEST */

    /*padding: 52px 0;*/ /* let's the modal at the top and bottom space when scrolling begins (top) and ends (bottom). looks nice and imitates the behavior of Apple modal appearance https://www.apple.com/accessibility/
    UPDATE The problem is that in my theme the close button does NOT move to the top of the screen like the Apple theme does. It looks bad if you miss this behavior. I found the solution: set the margin of overlay-canvas instead (margin-top: 52px). DO NOT forget to set it to margin-top: 0 if the overlay fills the entire screen (see max-width: 734px). JE13Oct2022 */

    max-width: 100%; /* CHANGE from 66.667% to 100% because it looks better on ALL screen sizes with its 42em width. JE 24Oct2022. */

    margin: 0 auto;

    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}

.overlay-canvas {
    display: flex;  /* TEST 11SEP21-2019 with flex archtecture of overlay-canvas*/
    flex-direction: row;  /* TEST 11SEP21-2019 with flex archtecture of overlay-canvas*/

    position: relative;
    /*width: 100%;*/  /* was 980px moved to .overlay-canvas-padding */
    /* max-width: 66.6667%; */ /* was 980px moved to .overlay-canvas-padding */

    margin-top: 52px; /* NEEDED for behavior as described in overlay-canvas-container. JE13Oct2022 */
    margin-bottom: 0;
    margin-left: auto; /* center element (if it is a block with widt: xx) */
    margin-right: auto;

    border-radius: 18px; /* Apple modal appearance https://www.apple.com/accessibility/ */


    font-size: inherit;
    background-color: white;
    color: inherit;

    /* height:100%; scrolling: set max-height and overflow-y: auto */

    /* DISABLED because overlay-container takes over. 03sep21 220:42 */
    /*overflow-y: scroll; */

    cursor: auto;

    /*height: 100%;*/ /* THIS (height:100%;) is needed to make overflow-y:scroll working, otherwise there is no scroll necessary. */ /* JE 07Sep21-0655 TEST */

    /* DISABLED because overlay-container takes over. 03sep21 220:42 */
    /*-webkit-overflow-scrolling: touch; */  /* Live saver! This make scrolling fast for content in modal view. I needed this trick after I used body-scroll-block to prevent scrolling of background (behind overlay-canvas (body).
    State of mind on August 31, 2021. */
}

.overlay-content {
    /* padding-top: 12px; */
    /* padding-left: 52px; */ /* left/right 52px so 'close button' does not interfere with text and text get centered */
    /* padding-right: 52px; *//* dto. */
    /* padding-bottom: 24px; */

     /* TEST 11SEP21-2019 with flex archtecture of overlay-canvas */
     /* padding-top: 18px;
     padding-left: 28px;
     padding-right: 32px; */

     /* Use margin instead of padding because it looks better with the NEW close icon design. JE13Oct2022 */
     margin-left: 48px; /* IMPORTANT: margin-left must be in px because overlay-button-close-icon width is measured in px (NO overlap). */
     margin-right: 2em;
     margin-top: 2em;
     margin-bottom: 3em;
}

.sticky-top {
    position: -webkit-sticky; /* Safari */
    position: sticky;

    width: 0;   /* Introduced widt/height that width of  overlay-button-close-icon does NOT impact left alignment of overlay content. I do not better at this point, JE12Oct2022 */
    height: 0;

    top: 0;
    /* padding: 18px 12px 18px 18px; */
    padding: 0;

    align-self: flex-start; /* makes flex item 'sticky' (http://stackoverflow.com/questions/44446671/ddg#44446672) */ /* TEST 11SEP21-2019 */
}

/* This class replaces the previous classes .overlay-button-close and .overlay-button-close:before. JE 24Sep21-1655 */
/* Idea with 'mask' based on https://css-tricks.com/change-color-of-svg-on-hover/ */
.overlay-button-close-icon {
    width: 32px;
    height: 32px;

    margin: 12px;

    /* -webkit-mask: url("../media/images/crossPlain-min.svg"); */
    /* mask: url("../media/images/crossPlain-min.svg"); */

    -webkit-mask: url("../media/images/cross-in-circle-min.svg");
    mask: url("../media/images/cross-in-circle-min.svg");

    background-color: black;

    -webkit-mask-size: cover;

    mask-size: cover;

    cursor: pointer;
}

.contact-item {
    flex: auto;

    margin-top: auto;   /* allign row item ... */
    margin-bottom: auto;  /* ... verically */

    margin-left: auto;   /* allign row item ... */
    margin-right: auto;  /* ... horizontally. JE 12Feb2022 */

}
/*
.contact-logo {
    padding-left: 24px;
    padding-right: 24px;
} */

.contact-container {
    display: flex;
    max-width: 36em;
    flex-wrap: wrap;
    align-items: center;
    gap: 0em;
    margin-left: auto;
    margin-right: auto;
}

.contact-container-logo {
    display: block;
    height: 14em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    /* background-color: white; */ /* NEEDED if Firefox's Night Mode is on, otherwise the logo (black color!) is NOT visible if browser theme uses a black background. JE23Oct2022 */
}

.contact-text {
    width: 17em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 4px;
    border-style: solid; */
    /* border-width: 2px;  */
    /* same style as project cards */
    /* border-color: rgb(240, 240, 240);  */
    text-align: center;
}


/* NOTE: One or more space characters belong to the word it follows. In the example above to the word \verb+ Word1+. Therefore, the HTML code for the example above must be as follows:
\begin{description}
\item[] \footnotesize\verb*|W<span class="textsc">ord-one </span>W<span class="textsc">ord-two</span>|
\end{description}

See the details of an experiment in section 'Small Caps' of document: ~/Documents/NotesOnLaTeX/NotesOnLaTeX.pdf.

Numbers seem NOT to konverted into mall caps! Thus, you need to exclude numbers from the object that gets converted. Example:
    W<span class="textsc">ord</span>1 W<span class="textsc">ord</span>2

State of mind on October 22, 2022.
*/
.textsc {
    /* I got the idea about the numbers (i.e. letter-spacing) from this website: "Small Caps Typography: Real or Fake?" https://www.creativelive.com/blog/typography-small-caps-real-fake/ */
    letter-spacing: 0.05em; /* 0.035em; */
    font-weight: 500;  /* IMPORTANT: Font weight of capital letters + 100 (here: 400 + 100). Therefore it only works for fonts that support at least this granularity (e.g. 100, 200, 300, ... like 'Helvetica Neue'). JE17Oct2022 */
    font-size: 73%;
    text-transform: uppercase;
}


/* I took all initial properties and values of the following classes from Apple's website, because I love how they solved the problem ("Accessibility Apple" https://www.apple.com/accessibility/).

State of mind on September 1, 2021.

UPDATE I removed the source code of the 'try' today. Read my note in ~/Freelancer/Projects/SoftSys/softsys-journal.pages on September 9, 2021.

    State of mind on September 9, 2021.

 */


/* ----------------------------------------------------------------------- */
/* --------------------     MEDIA QUERIES (LAST)      -------------------- */
/* ----------------------------------------------------------------------- */

/* ------- IMPORTANT QUOTE ----------
"Safari Responsive Design Mode CSS media query 'device' not applied"

device-width, along with its siblings, min-device-width and max-device width have been deprecated and removed from the standards.

You should just use width, min-width, and max-width, which are calculated based on the size of the viewport. On most mobile devices, width, min-width, and max-width end up yielding the same net result as device-width, min-device-width, and max-device-width.

Here's information on the deprecation of device-width. https://developer.mozilla.org/en-US/docs/Web/CSS/@media/device-width

Here's the new spec, which no longer includes device-width. https://www.w3.org/TR/mediaqueries-4/#width

--Philip Jones

Source: https://stackoverflow.com/questions/38220485/safari-responsive-design-mode-css-media-query-device-not-applied#39401858
*/

/* Give overlay/modal full screen size (100%). I adapted this rule from
Apple's website, because I love how they solved the problem ("Accessibility Apple" https://www.apple.com/accessibility/). */
@media only screen and (max-width: 734px) {
    /* .overlay-container {
        padding: 0;
    } NOT needed anymore. JE13Oct2022 */
    .overlay-canvas {
        max-width: 100%; /* JE 05Sep21-1634 TEST ONLY to see background and test close feature. production code: 100%; */
        min-height: 100%; /* 'min-' neccessary so that overflow area user scrolls to is covered, too (try only 'height' and you'll see what I mean on iPhone 6, for instance)*/
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /*padding: 0; */ /* NOT needed anymore. JE13Oct2022 */
        margin-top: 0; /* NEEDED for 'correct' behavior (see comment at overlay-canvas-container). JE13Oct2022 */
        border-radius: 0;
    }
    .overlay-canvas-container {
        max-width: 100%; /* JE 05Sep21-1634 TEST ONLY to see background and test close feature. production code: 100%; */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        border-radius: 0;
    }

}


/* Turn off parallax scrolling for tablets and phones
Source: https://www.w3schools.com/howto/tryhow_css_parallax_demo.htm
State of mind on August 25, 2021.
UPDATE Allow for example on tablets such as iPad and similar of width >= 1024 px parallax scrolling. I set the max-width to an arbitrary value of 1011 px < 1024 px. State of mind on May 15, 2022.
*/

/* -------- Mind helper -------
    max-width: 30em <-> width <= 30em

    min-width: 30em <-> width >= 30em
*/
@media only screen and (max-width: 1011px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
  /* Second image (Portfolio) */
  .bgimg-2,  .bgimg-3 {
    min-height: 350px; /* window through which you see background image takes up at least yyy px of viewport height; experimental determined so image looks good at limited heights AND parallax feature cannot made available. State of mind on August 25, 2021. */
  }

}


/* The rules of responsive web typography. 2018. Section "Coding for responsive typography" https://www.creativebloq.com/how-to/the-rules-of-responsive-web-typography */
@media only screen and (min-width: 900px) {  /* 38em approximately 600px with em = 16px */
 html {
   font-size: 112.5%; /* Number 112.5%. Reasoning? */
 }
}

@media only screen and (max-width: 500px) {  /* value determined by experiment to avoid words only on the right of the image (center image with no text around) */
    /* #identity-card  {
        float: none;
        margin-left: auto;
        margin-right: auto;
    } */
    .flex-item-me {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 460px) {  /* value determined by experiment to avoid words only on the right of the image (center image with no text around) */

    .me-box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .me-box img {
        width: 12em;
        margin-left: auto;
        margin-right: auto;
    }

    .me-box h4 {
        font-size: 1em;
    }
}

@media only screen and (max-width: 480px) {  /* value determined by experiment to avoid words only on the right of the image (center image with no text around) */
    .experiment-row {
        flex-direction: column; /* make the two columns stack on top of each other instead of next to each other */
    }
}

@media only screen and (max-width: 374px) {  /* reduce project card width for screens smaller than 375px JE 09Aug22  */
    .flex-item-new {
        max-width: 300px; /* looks not bad until screen gets smaller than 320px JE 09Aug22   */
    }
}

@media only screen and (max-width: 667px) {  /* value determined by experiment to avoid words only on the right of the image (center image with no text around) */
    .symbol-size {
        height: 180px;
    }

        .bgimg-2,  .bgimg-3 {
      min-height: 250px; /* reduce image on smaller screens.  State of mind on April 19, 2022. */
    }
}

@media only screen and (min-width: 60em) {  /* value determined by experiment to expand the LAST project description to full width when two projects are in one row. JE 04Oct2022  */
    #last-project-description {
        max-width: 99%;/* assuming max-width of flex-container is 720px AND  flex-item-new 350px the project card border matches approximately the border of the upper project cards. JE05Dec2022  */
    }
}

@media only screen and (max-width: 60em) {  /* value determined by experiment to expand all project description to full width of a row. JE 04Oct2022  */
    .flex-item-new {
        max-width: 96%; /* assume that max-width of flex-container is 720px AND  flex-item-new 350px */
    }
}
