/* General ----------------------------------- */

*, *:after, *.before { /* whole website */
  box-sizing: border-box;
}

/* TYPOGRAPHY ----------------------------------- */
body {
  font-size: 100%; /* recommended by "Learning Responsive Web Design" (\cite{Peterson:2014}, page 274), if you use em as relative measure (e.g., xyz: 1.5em); if you sue rem you shall set html { font-size: 100% }. Confused? ...me too. Also recommended by w3.css, CSS Fonts. */

  max-width: 63em;  /* value adopted from "Learning Responsive Web Design" by Clarissa Peterson, p.131. */
  margin: auto; /* only if (?) max-width < 100%: needed to center web page */

  /* max-width: 100%; */ /* Apple HGI webpage */
  min-width: 320px; /* Apple HGI webpage */
  overflow-x: hidden; /* Apple HGI webpage */
}

/* The following settings were inspired by Peterson's "Learning Responsive Web Design" section "Typography". */
p {
  font-size: 1em;
  line-height: 1.4;
}


/* h_(i-1) = h_(i) * 1.125, i = 1..6, h1 = 2em */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

h1, h2 {
  font-weight: bold;
  margin: 5px 0;
}

h1, h2, h3, h4, h5, h6 { /* , p { */ /* Why was p included? Who recommends this? State of mind on November 17, 2019. */
  margin: 1em 0;
}

.lead {
  color: #000;
  letter-spacing: 0em;
}

footer, header, nav, main, section {
    display: block;
}

header, section, footer {
  margin: 15px auto; /* Recommended for <article> by  Peterson, p. 285 */
  width: 94%; /* Recommended for <article> by  Peterson, p. 285 */
}

footer {
  font-size: 0.618em; /* 1 / 1.618 (Golden Ratio), assume p: 1em */
}

img, video {
  max-width: 100%; /* don't scale larger than orignal size. */
}

video { /* allow video to shrink to min-width (can be watched on iPhone SE 320 X 568) */
  min-width: 200px;
}

a {
  color: #0070c9; /* Apple Developer HIG site: link color #0070c9 */
  text-decoration: none; /* no underline */
}

/* Responsive Grid  -------------------------------> */

/* Source based on: w3.com, How To, Responsive Image Grid */

.video-container {
  display: block;
  width: 100%;
  margin-left: auto; /* center items */
  margin-right: auto; /* center items */
}

.row {
  display: flex;
  flex-wrap: wrap;
  /*
  padding-top: 0;
  padding-right: 4px;
  */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create two equal columns that sits next to each other */
#BEFORE.column {
  flex: 50%; /* 50% = two columns */
  max-width: 50%;
  padding: 0 4px;
}

.column {
  display: flex;
  margin: 0 auto; /* center column */
}

.column .video-container {
  flex: 50%; /* 50% = two columns */
  padding: 0 1em;
}

.video-container >p {
  max-width: 375px; /* don't let text go beyond video image */
}

#BEFORE.column .video-container {
  width: 100%;
  padding: 1em 1em;
}

.video-frame { /* settings make video centered in container */
  display: table;
  /* margin: 0 auto; */ /* center video But decided not to do so. State of mind on Novemeber 21, 2019. */
}

/* <------------------------------  Responsive Grid */

/* Navigation -----------------------------------> */

/* Source based on: w3.com, How To, Responsive Topnav */

/* Add a black background color to the top navigation */
.topnav {
 background-color: rgba(250,250,250,0.8); /* #fcfcfc; */
 overflow: hidden;
 padding-right: 2em;
}

/* Style the links inside the navigation bar */
.topnav a {
 float: right;
 display: block;
 color: #000;
 text-align: center;
 padding: 1em 1em;
 text-decoration: none;
 font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
 background-color: #ddd;
}

/* Add an active class to highlight the current page */
/*
.topnav a.active {
 background-color: #4CAF50;
 color: white;
}
*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
 display: none;
}
/* <------------------------------------ Navigation */

/* EXPERIMENTAL ----------------------------------- */

.marker {
  background-color: #ff000022;
}

.simple-border { /* only 1 pixel wide border in black ink; suppose to make the image appear as a unit distinguished from background. */
  border-radius: 0px;
  border-color: rgba(0, 0, 0, 0.4); /* #202020; */ /* choose a gray that is distinguishable on all background colors, except on itself */
  border-width: 1px; /* only 1 pixel wide, almost invisible, ot dominant */
  border-style: solid;
  /*filter: drop-shadow(1em 1em 1em #aaa);*/ /* values dpend on taste */
  /* filter: drop-shadow(0.5em 0.5em 1em rgba(0, 0, 0, 0.4) ); */
  box-shadow: 0 10px 6px -6px #777; /* Source: box-shadow. https://css-tricks.com/almanac/properties/b/box-shadow/ */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */ /* w3schools.com Product Card */
}

/* Based on Source: w3schools.com --------------------> */
/* Beautiful card examples at w3schools.com (e.g., Profile or Product Card) */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  margin: auto;
  text-align: center;
  /*font-family: arial; */
}

.card button {
  font-size: 0.9em;
}


.card img {
  padding-top: 1em;
}

.card button {
  border: none;
  outline: 0;
  padding: 0.7em;
  color: #000; /*white;*/
  background-color: #eee;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.card button:hover {
  opacity: 0.7;
}
/* <-------------------- Based on Source: w3schools.com */

.downloads-grid-container {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#EXPERIMENTAL.video {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   */
   box-shadow: 20px 20px 20px #ddd;

}

#EXPERIMENTAL.simple-drop-shadow {
  filter: drop-shadow(5px 5px 5px #ccccccdd);
}


#EXPERIMENTAL.borderimg {
  border: 5px solid transparent;
  padding: 0px;
  border-image: url("../media/images/iphoneFrame375x667@2x.png") 30 round;
}

#EXPERIMENTAL.device-iphonex-frame {
    background-image: url("../media/images/iPhone8-Portrait-SpaceGray.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 460px;  /* image (Hardware) 920px / 2 */
    height: 900px; /* image height 1800px / 2 */
}

/* without flex box */
#EXPERIMENTAL.outer-box-noflex {
  border: 1px solid #0000ff;
  width: 460px;  /* image (Hardware) 920px / 2 */
  height: 900px; /* image height 1800px / 2 */
  background-image: url("../media/images/iPhone8-Portrait-SpaceGray.png");
  background-repeat: no-repeat;
  background-size: 100%;

}

#EXPERIMENTAL.inner-box-noflex {
  border: 1px solid #ff0000;
  width: 375px;
  height: 667px;
  margin: 116.5px 42.5px; /* (1800 - 1334) / 4 = top = bottom, (920 - 750) / 4 right = left */
}

#EXPERIMENTAL.device-iphone8-container {
  position: relative;
  width: 330px;
  height: 672px;
  margin: 0 auto;
  /* margin-bottom: 1em; */
}

#EXPERIMENTAL.device-iphone8-image-full, .device-iphone8-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#EXPERIMENTAL.device-iPhone8-image-full {
  width: 287px;
  height: 633px;
  top: -13px !important;
  left: 0 !important;
}


#EXPERIMENTAL.device-iPhone8-frame {
  background-image: url("../media/images/iPhone8-Portrait-SpaceGray.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 328px;
}

#EXPERIMENTAL.device-iPhone8-frame {
  background-position: bottom;
}

/*
header, section, footer{
  border: 1px solid #ccc;
}

div .column {
  borddder: 1px solid #ff0000;
}

.column div  {
  border: 1px solid #0000ff;
}
*/


*/

/* MEDIA QUERIES (LAST) ----------------------------------- */

/*
@media only screen and (max-width: 1068px)

	.device-iphone8-container {
	  width: 236px;
	  height: 474px;
	}

  .device-iphone8-image-full {
  	  width: 206px;
  	  height: 445px !important;
  	  top: -2px !important;
  	  left: 0px !important;
  	}

	.device-iphone8-frame {
	  width: 236px;
	}
}
*/

/* Source based on: w3.com, How To, Responsive Topnav
  When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
  */
@media screen and (max-width: 600px) {
    /* If the browser window is <max-width> or smaller then... */
 .topnav a { /* a:not(:first-child) { */
   display: none;
 }
 .topnav a.icon {
   float: right;
   display: block;
 }
}
/* Source based on: w3.com, How To, Responsive Topnav
  The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally)
  */
@media only screen and (max-width: 600px) {
    /* If the browser window is <max-width> or smaller then... */
 .topnav.responsive {
   position: relative;
 }
 .topnav.responsive a.icon {
   position: absolute;
   right: 0;
   top: 0;
 }
 .topnav.responsive a {
   float: none;
   display: block;
   text-align: left;
/*   background-color: #fafafa; */
 }
}

@media only screen and (max-width: 980px) {
  .downloads-grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 735px) {
  .downloads-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 500px) {
    .downloads-grid-container {
      grid-template-columns: 1fr 1fr;
    }
}

/* Source based on: w3.com, How To, Responsive Image Grid
 Responsive layout - makes the two columns stack on top of each other instead of next to each other
 */
@media only screen and (max-width: 600px) {
  /* If the browser window is <max-width> or smaller then... */
  #BEFORE.column {
    flex: 100%; /* 100% = one column */
    max-width: 90%; /* column occupies 66% of space */
    margin-left: auto;
    margin-right: auto;
  }
  .column {
    display: block;
  }

  .column .video-container {
    max-width: 100%; /* fill entire column */
  }
}


/*@media only screen and (min-width: 500px) {*/
/* Found at: https://www.newventuresoftware.com/blog/pixel-density-and-resolution-tool-for-css-media-queries
@media
    (min-resolution: 96dpi),
    (min-resolution: 1dppx),
    (-webkit-min-device-pixel-ratio: 1),
    (min--moz-device-pixel-ratio: 1) {
*/

/*
@media
    (-webkit-device-pixel-ratio: 1) {
  .videoContainer video {
    border: 2px solid red;
  }
}
*/

/* https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid */
/*
.previewContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}
*/
