/* General ----------------------------------- */

*, *:after, *.before { /* whole website */
  box-sizing: border-box;
}

/* TYPOGRAPHY ----------------------------------- */
body {
  font-size: 100%; /* recommended by "Learning Responsive Web Design" (\cite{Peterson:2014}, page 274), if you use em as relative measure (e.g., xyz: 1.5em); if you sue rem you shall set html { font-size: 100% }. Confused? ...me too. */
}

/* The following settings were inspired by Peterson's "Learning Responsive Web Design" section "Typography". */
p {
  font-size: 1em;
  line-height: 1.4;
}

/* h_(i-1) = h_(i) * 1.125, i = 1..6, h1 = 2em */
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

h1, h2 {
  font-weight: bold;
  margin: 5px 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 1em 0;
}

.lead {
  color: #000;
  letter-spacing: 0em;
}

/* STYLING  ----------------------------------- */
#fullPage {
  max-width: 63em; /* value adopted from "Leraning Responsive Web Design" by Clarissa Peterson, p.131. */
}

header, article, aside, footer {
  border: 1px solid #ccc; /* for development only */
  margin: 15px auto; /* Recommended for <article> by  Peterson, p. 285 */
  width: 94%; /* Recommended for <article> by  Peterson, p. 285 */
}

footer {
  font-size: 0.618em; /* 1 / 1.618 (Golden Ratio), assume p: 1em */
}

img, video {
  max-width: 100%; /* don't scale larger than orignal size. */
}

/* EXPERIMENTAL ----------------------------------- */
section {
  border: 1px solid #ccc; /* for development only */
}

.testing {
  background-color: orange;
}

/* MEDIA QUERIES (LAST) ----------------------------------- */
@media screen and (min-width: 31em) {  /* Peterson p. 286 */
  article {
    width: 70%;
  }
}

@media screen and (min-width: 40em) { /* Peterson p. 287 */
  article {
    font-size: 1.1em;
  }
}

/*@media only screen and (min-width: 500px) {*/
/* Found at: https://www.newventuresoftware.com/blog/pixel-density-and-resolution-tool-for-css-media-queries
@media
    (min-resolution: 96dpi),
    (min-resolution: 1dppx),
    (-webkit-min-device-pixel-ratio: 1),
    (min--moz-device-pixel-ratio: 1) {
*/

/*
@media
    (-webkit-device-pixel-ratio: 1) {
  .videoContainer video {
    border: 2px solid red;
  }
}
*/

/* https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid */
/*
.previewContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1em;
}
*/
